# Ignore everything at first
*
**/*

## Add only what we need
!/whisper_stream
!/projects/faster-whisper-api
!/projects/faster-whisper-api/**/*
!/projects/jax-pipelines
!/projects/jax-pipelines/**/*

## Drop unneccessary stuff again
**/*/.test.env
